In [1]:
wage=500
hours=40
weeks=52
str1="Salary is:"
print(str1+"",wage*hours*weeks)

Salary is: 1040000

In [5]:
wage=500.345
hours=40
weeks=52
str1="Salary is:"
print(str1+"",int(wage*hours*weeks))
print(str1+"",wage*hours*weeks)

Salary is: 1040717
Salary is: 1040717.6000000001

In [8]:
#write a program to get a string 3, 2, 1 Go!
print('3, 2, 1 Go!')

3, 2, 1 Go!

In [1]:
# print in same line
#str12=str(23)
print('Hi!', end=' ' )
print('we are in dtu')

Hi! we are in dtu

In [16]:
#printing with newline 
print(1,'\n',2,'\n',3)
print('a\nb\nc')

1
 2
 3
a
b
c

In [17]:
#printing with multiple data types
weight=70
height=6.1
str2="ram weights"
str3='and has a height of'
print(str2+'',weight,'kg, and he is ',height,''+'ft long.')

ram weights 70 kg, and he is  6.1 ft long.

In [ ]:
#basic input command
age=input('please enter your age: ')
print('my age is ',age)

In [6]:
#basic input
var_wage=input("insert hourly wage: ")
print('hourly wage is: ',var_wage)

In [2]:
#whatever you type converted into string
var_wage=int(input("insert hourly wage: "))
print('new wage is: ',var_wage+5)

insert hourly wage: 56
new wage is:  61

In [29]:
#basic input
var_wage=float(input("insert hourly wage: "))
print('new wage is: ',var_wage+5)

insert hourly wage: 25.0
new wage is:  30.0

In [31]:
#input multiple values
a=int(input())
b=int(input())
c=int(input())
print(a+b+c)

2
3
6
11

In [4]:
print(int(input())+int(input())+int(input()))

45
56
23
124

In [8]:
#runtime/value error:avoid entering string if intention is integer or alter the code to avoid
salary=int(input())
print(salary)

5000.98

ValueError: invalid literal for int() with base 10: '5000.98'

In [9]:
var1=67.7
print(int(var1))

67